* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
}

.table {
  margin: 0 auto;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

caption {
  font-size: 26px;
  font-weight: 500;
  color: #0a0000;
  margin-bottom: 30px;
}

table,
th,
tr,
td {
  border: 1px solid #817d7d;
  border-collapse: collapse;
  padding: 5px 10px;
  text-align: center;
}

th {
    background-color: #96b191;
}

td:nth-child(3) {
    text-align: left;
}

td:nth-child(4) {
    text-align: left;
}